.form{
    width: 100%;
    margin: 2em 0;   
}
.baskets{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.checkbox{
    margin: 1em;
    
}
fieldset{
    width: 100%;
    padding: 1em;
    margin: 1em;
    
}
